{% extends 'base.html' %}
{% block content %}
<style>
p {
  margin: 10px; 
}
</style>
<p><b>New Nest Pets</b> isn't just a pet shop, it's a bridge between loving companions and their perfect forever homes. We're a dog adoption center dedicated to giving deserving pups a second chance at happiness.</p>

<p><b>More than a Shop, We're a Family:</b></p>

<p>At New Nest Pets, we believe every dog deserves a loving family. We provide a safe and nurturing environment for our furry residents until they find their ideal match. We carefully assess each dog's personality and needs to ensure a perfect fit with their future owner.</p>

<p><b>Join Us in Creating Happy Tails:</b></p>

<p>Whether you're looking to add a furry friend to your life or simply want to support our mission, New Nest Pets welcomes you with open arms. Visit us today and discover the joy of pet adoption!</p>

{% endblock %}