{% extends 'base.html' %}
{% block content %}
<h1>Hi {{ fname }},</h1>
<style>
p {
  margin: 10px; 
}
h1{
  margin: 10px;
}
</style>

<p>Thank you for your interest in adapting a pet! We appreciate you taking the initiative to provide a loving home for an animal in need.

We've received your pet adaptation request and will carefully review it within the next 15 days. We'll assess your suitability to ensure a perfect match for both you and the pet.

Once our review is complete, we'll contact you by email to share the next steps. This email will either provide more information about a potential match or let you know if you need to provide any further details.

In the meantime, feel free to browse our website at [website address] to learn more about the adoption process and the types of pets we have available.

Thank you for your patience and understanding. We look forward to connecting you with your furry friend soon!</p>

<p>Sincerely,</p>

<p>The New-Nest-Pets Team</p>

{% endblock %}